#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "curl"
     "wget"
     "gnu-sed"
     "git"
     "git-lfs"
     "jq"
     "yq"
     "volta"
     "go"
     "golangci-lint"
     "kubernetes-cli"
     "helm"
     "minikube"
     "shellcheck"
     "ffmpeg" 
     "dockutil"
-}}

{{ $casks := list
     "firefox"
     "google-chrome"
     "ghostty"
     "tailscale"
     "docker"
     "slack"
     "discord"
     "transmission"
     "craft"
     "visual-studio-code"
     "intellij-idea"
     "vlc"
     "spotify" 
-}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
