{{/* boolean feature tags */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- "" -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $headless = true -}}
{{- end -}}

{{- $email := "767370696577616b40676d61696c2e636f6d" -}}
{{- $email_dailybrain := "767370696577616b406461696c79627261696e2e6672" -}}
{{- $email_sephoraeme := "767370696577616b40706172746e65722e736570686f72612e6575" -}}

{{- $hostname := promptStringOnce . "hostname" "What is your hostname" -}}

[data]
    headless = {{ $headless }}
    email = {{ $email | hexDecode | quote }}
    email_dailybrain = {{ $email_dailybrain | hexDecode | quote }}
    email_sephoraeme = {{ $email_sephoraeme | hexDecode | quote }}
    hostname = {{ $hostname | quote }}