autoload -Uz compinit
compinit

{{ if stat "/opt/homebrew/bin/kubectl" -}}
# add kubectl completion
source <(kubectl completion zsh)
alias k=kubectl

{{ end -}}

{{ if stat "/opt/homebrew/bin/gcloud" -}}
# add gcloud completion
source "$(brew --prefix)/share/google-cloud-sdk/completion.zsh.inc"

{{ end -}}

export EDITOR=vim
